<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Listing</title>
</head>
<body>
    <h3>Edit your Listings</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br>
        <textarea name="listing[description]"><%= listing.description %></textarea> 
        <br>
        <input type="text" name="listing[image]" value="<%= listing.image %>">
        <br>
        <input type="number" name="listing[price]" value="<%= listing.price %>">
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>">
        <br>
        <input type="text" name="listing[location]" value="<%= listing.location %>">
        <br>
        <button>Edit</button>
    </form>
</body>
</html>