<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style type="text/css">
        table, th, tr, td {
            border: 1.2px solid black;
        }
        th {
            background-color: rgb(150, 147, 144);
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Age</th>
                <th>Name</th>
                <th>Email</th>
                <th>Followers</th>
                <th>Following</th>
            </tr>
        </thead>
        <tbody>
            <% for (let user of users) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.age %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.followers %></td>
                    <td><%= user.following %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
